textarea {
    font-family: monospace;
    min-height: 400px;
}

canvas {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
    min-height: 400px;
    width: 100%;
}

pre {
    width: 100%;
}

pre > code {
    width: 100%;
}

#source {
    min-height: 400px;
}
