textarea {
    font-family: monospace;
    min-height: 400px;
}

#webgl {
    min-height: 400px;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#webgl > div {
  cursor: pointer;
  transition: all ease 0.1s;
  margin: 0 20px 20px 0;
}

#webgl > div:hover {
  transform: scale(1.05);
}

pre {
    width: 100%;
}

pre > code {
    width: 100%;
}

#source {
    min-height: 400px;
}

.column.fixed {
    width: auto;
    flex: 0;
}
